@{
    ViewData["Title"] = TextFile.about;
}

<h3>@TextFile.aboutHeaderText</h3>

<p>@Html.Raw(TextFile.aboutDescText)</p>

<p>@Html.Raw(TextFile.aboutVisitGitHubRepo)</p>

<p>@Html.Raw(TextFile.aboutVisitMyPage)</p>

<p>@Html.Raw(TextFile.aboutVisitMyGitHub)</p>
